.main {
    width: 100%;
    margin: 0 auto;
}

.main__container {
    margin: 0 auto;
    margin-top: 110px;
    max-width: calc(100% - 140px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.main__type_fullBackground {
    background-color: #272727;;
}