.register {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-grow: 1;
}

.register__inputs {
    margin: 34px 0 65px;
    padding: 0;
    border: none;
}

@media (max-width: 500px) {
    .register__inputs {
        margin-top: 80px;
    }
}

.button_type_submit {
    width: 100%;
    padding: 13px 0;
    border-radius: 3px;
    margin-bottom: 18px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFF;
}
