.header {
    margin: 0 70px;
    height: 74px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .header {
        margin: 0 30px;
    }
}

@media screen and (max-width: 320px) {
    .header {
        margin: 0 14px;
    }
}